.form-control-file {
  display: none;
  width: 256px;
  height: 256px;
  /* background-image: url('./pronama_open_image.png'); */
}

.index-img{
  padding: 0.2em 0.2em;
  background: -moz-linear-gradient(#00ffff, #f52121);
  background: -webkit-linear-gradient(#00ffff, #f52121);
  background: linear-gradient(to right,#00ffff, #f52121);
  color: #FFF;
}
.index-img p {
  margin: 0; 
  padding: 0;
}

img{
  object-fit: cover; 
}

.profile-img{
  padding: 0.15em 0.15em;
  background: -moz-linear-gradient(#012f79, #800000);
  background: -webkit-linear-gradient(#012f79, #800000);
  background: linear-gradient(to right,#012f79, #800000);
  color: #FFF;
}
.profile-img p {
  margin: 0; 
  padding: 0;
}


.td{
  width: 290px;
}

body{
  background-image: url("https://kabekin.com/uploads/cache/2624722142/cg_digital_art_dark_2560x1600-400x270-MM-100.jpg");
}
/* https://uploads.tapatalk-cdn.com/20161031/196e2cc7ca7c0b75c46d9f70541c10a4.jpg */

.box7{
  width: 300px;
  padding: 0.5em 1em;
  margin: auto;
  color: #474747;
  background: whitesmoke;/*背景色*/
  border-left: double 7px #fd6500;/*左線*/
  border-right: double 7px #fd6500;/*右線*/
}
.box7 h3 {
  margin: 0; 
  padding: 0;
}

.card{
  opacity: 0.9;
}

.card-1{
  opacity: 0.9;
  width: 300px;
  padding: 0.8em 1em;
  margin: auto;
  margin-top: 15px;
  background: whitesmoke;
  font-size: 100;
}

.box8{
  width: 300px;
  padding: 0.5em 1em;
  margin: auto;
  color: #474747;
  background: whitesmoke;/*背景色*/
  border-left: double 7px #d400ff;/*左線*/
  border-right: double 7px #d400ff;/*右線*/
}

.box8 h3 {
  margin: 0; 
  padding: 0;
}

.box9{
  width: 300px;
  padding: 0.5em 1em;
  margin: auto;
  color: #474747;
  background: whitesmoke;/*背景色*/
  border-left: double 7px #003cff;/*左線*/
  border-right: double 7px #003cff;/*右線*/
}

.box9 h3 {
  margin: 0; 
  padding: 0;
}


.btn-box {
  margin-top: 7px;
  margin-bottom: 7px;
  display: inline-block;
  width: 140px;
  text-align: center;
  font-size: 16px;
  color: #1100ff;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 24px;
  position: relative;
  border: 2px solid #0400ff;
  transition: .4s;
  background-color: rgb(255, 255, 255);
}

.btn-box:hover {
  border: 2px solid transparent;
  color: rgb(0, 160, 172);
  color: white;
}

.btn-box:before, .btn-box:after {
  width: 100%;
  height: 100%;
  z-index: 3;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  transform: scale(0);
  transition: .2s;
}

.btn-box:before {
  border-bottom: 2px solid rgb(255, 255, 255);
  border-left: 2px solid rgb(255, 255, 255);
  transform-origin: 100% 0%;
}

.btn-box:after {
  border-top: 2px solid rgb(255, 255, 255);
  border-right: 2px solid rgb(255, 255, 255);
  transform-origin: 0% 100%;
}

.btn-box:hover:after,
.btn-box:hover:before {
  transform: scale(1);
}

.btn-1{
  width:140px;
  height:38px;
  background:rgb(255, 255, 255);
  /* border-radius:50%; */
  color: rgb(0, 0, 0);
  margin-bottom: 3px;
}

.btn-1:hover{
  width:140px;
  height:38px;
  background:rgb(235, 176, 176);
  /* border-radius:50%; */
  color: #FFF;
}

.btn-2 {
  width:160px;
  text-decoration:none;
  text-align:center;
  color:#fff;
  background-color:#3fabdd;
  border-radius:25px;
}
.btn-2:hover {
  width:160px;
  text-decoration:none;
  text-align:center;
  color:#fff;
  background-color:#348cb4;
  border-radius:25px;
}

.btn-4{
  text-align: center;
}

.border{
  margin: auto;
  margin-top: 8px;
  margin-bottom: 40px;
}

.abcd{
  text-align: center;
  color: #1100ff;
}


.btn-box-2 {
  margin-top: 7px;
  margin-bottom: 7px;
  display: inline-block;
  width: 135px;
  text-align: center;
  font-size: 13px;
  color: #1100ff;
  text-decoration: none;
  font-weight: bold;
  padding: 5px 24px;
  position: relative;
  border: 2px solid #0400ff;
  transition: .4s;
  background-color: rgb(255, 255, 255);
}

.btn-box-2:hover {
  border: 2px solid transparent;
  color: rgb(0, 160, 172);
}

.btn-box-2:before, .btn-box-2:after {
  width: 100%;
  height: 100%;
  z-index: 3;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  transform: scale(0);
  transition: .2s;
}

.btn-box-2:before {
  border-bottom: 2px solid rgb(0, 217, 255);
  border-left: 2px solid rgb(0, 217, 255);
  transform-origin: 100% 0%;
}

.btn-box-2:after {
  border-top: 2px solid rgb(0, 217, 255);
  border-right: 2px solid rgb(0, 217, 255);
  transform-origin: 0% 100%;
}

.btn-box-2:hover:after,
.btn-box-2:hover:before {
  transform: scale(1);
}